<div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Simple Category Form
              </div>
              <div class="card-body">
                <form [formGroup]="categoryForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Category Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Category Name" formControlName="name">
                                </div>
                                <div *ngIf="categoryForm.controls.name.invalid && (categoryForm.controls.name.dirty || categoryForm.controls.name.touched)" class="e-validate">
                                    <div *ngIf="categoryForm.controls.name.errors.required">
                                        <span>Please Enter Category</span>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    <div style="text-align:center;">
                        <button class="btn btn-primary" [disabled] = "!categoryForm.valid" (click)="save()">Add</button>
                        <button class="btn" routerLink="/layout/category">Cancel</button>
                    </div>  
    
                </form>
              </div>  
            </div>  
        </div>
    </div>  
  </div>   
  
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
