<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Simple Sub Category Table
            <div style="float: right;">
                <button class="btn btn-primary" routerLink="/layout/sub-category-form"><i class="fa fa-plus" routerLink="/layout/sub-category-form"></i></button>
            </div>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="name">Category Name</label>
                          <select class="col-md-12 form-control" [(ngModel)]="category" (change)="selectCategory()">
                              <option [ngValue]="item.key" *ngFor="let item of categoryArr" placeholder="Sub Category Name" class="form-control">{{item.name}}</option>
                          </select>
                      </div>
                  </div>
              </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Sr no.</th>
                  <th>Sub Category Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of subCategoryArr | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                  <td>{{ i + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <i class="fa fa-edit" aria-hidden="true" (click)="edit(item)"></i>
                      </td>
                      <td>
                        <i class="fa fa-trash" aria-hidden="true" (click)="delete(item)"></i>
                      </td>
                    </tr>
              </tbody>
              <div class="pagination">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </table>
            <!-- <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

  
