<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Size Table
            <div style="float: right;">
                <button class="btn btn-primary" routerLink="/layout/size-form"><i class="fa fa-plus" routerLink="/layout/size-form"></i></button>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Sr. no</th>
                  <th>Size</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of sizeArr | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                  <td>{{i+1}}</td>
                    <td>{{item.size}}</td>
                    <td>
                        <i class="fa fa-edit" aria-hidden="true" (click)="edit(item)"></i>
                      </td>
                      <td>
                        <i class="fa fa-trash" aria-hidden="true" (click)="delete(item)"></i>
                      </td>
                    </tr>
              </tbody>
              <div class="pagination">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </table>
            <!-- <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
          </div>
        </div>
      </div>

      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

