<!-- <div class="fluid-container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup] = "colorsForm">
                <input type="text" formControlName="colorsform" placeholder="Add colors" class="form-control">
                <div style="float: right; padding: 5px;">
                    <button type="submit" class="btn btn-primary" (click) = "add()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Simple Colors Table
              </div>
              <div class="card-body">
                <form [formGroup]="colorsForm">
                        <div class="row">
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Colors" formControlName="color">
                                  </div>

                                  <div *ngIf="colorsForm.controls.color.invalid && (colorsForm.controls.color.dirty || colorsForm.controls.color.touched)" class="e-validate">
                                      <div *ngIf="colorsForm.controls.color.errors.required">
                                          <span>Please Enter Colors</span>
                                      </div>
                                  </div>
                                </div>
                        </div> 
                      <div style="text-align:center;">
                        <button class="btn btn-primary" [disabled] = "!colorsForm.valid" (click)="save()">Add</button>
                        <button class="btn" routerLink="/layout/colors">Cancel</button>
                      </div>  
    
                </form>
              </div>  
            </div>  
        </div>
    </div>    
  </div>      
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
