<mat-horizontal-stepper [linear] = "isLinear" #stepper>
    <mat-step [stepControl] = "basic">
       <form [formGroup] = "basic">
          <ng-template matStepLabel>Basic</ng-template>
          <div class="row row-input">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input class="form-control" formControlName = "pname" required>
                    </div>
                        <div *ngIf="basic.controls.pname.invalid && (basic.controls.pname.dirty || basic.controls.pname.touched)" class="e-validate">
                            <div *ngIf="basic.controls.pname.errors.required">
                                <span>Please Enter Product Name</span>
                            </div>
                        </div>
                    </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Product Display Name</label>
                        <input class="form-control" formControlName = "pdname" required>
                    </div>

                    <div *ngIf="basic.controls.pdname.invalid && (basic.controls.pdname.dirty || basic.controls.pdname.touched)" class="e-validate">
                        <div *ngIf="basic.controls.pdname.errors.required">
                            <span>Please Enter Product Display Name</span>
                        </div>
                    </div>
                </div>
           </div>

           <div class="row row-input">
                <div class="col-md-6">
                    <!-- <label>Category</label> -->
                    <div class="form-group">
                        <label>Select Category</label>
                        <select formControlName="category" name="category" class="form-control" (change)="selectCategory()">
                            <option [value]="item.key" *ngFor="let item of categoryArr">
                                {{item.name}}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="basic.controls.category.invalid && (basic.controls.category.dirty || basic.controls.category.touched)" class="e-validate">
                        <div *ngIf="basic.controls.category.errors.required">
                            <span>Please Select Product Category</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- <label>Sub Category</label> -->
                    <div class="form-group">
                        <label>Select Sub-Category</label>
                        <select formControlName="subcategory" name="subcategory" class="form-control" name="subCategory">
                            <option *ngFor="let item of subCategoryArr" [value]="item.name">
                                {{item.name}}
                            </option>
                        </select>
                    </div>

                    <!-- <div *ngIf="basic.controls.subCategory.invalid && (basic.controls.subCategory.dirty || basic.controls.subCategory.touched)" class="e-validate">
                        <div *ngIf="basic.controls.subCategory.errors.required">
                            <span>Please Select Product Sub-Category</span>
                        </div>
                    </div> -->
                </div>

           </div>
           <div class="row row-input">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Cost</label>
                        <input class="form-control" formControlName = "cost" required>
                    </div>

                    <div *ngIf="basic.controls.cost.invalid && (basic.controls.cost.dirty || basic.controls.cost.touched)" class="e-validate">
                        <div *ngIf="basic.controls.cost.errors.required">
                            <span>Please Enter The Cost</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Discount</label>
                        <input class="form-control" formControlName = "discount" required>
                    </div>

                    <!-- <div *ngIf="basic.controls.discount.invalid && (basic.controls.discount.dirty || basic.controls.discount.touched)" class="e-validate">
                        <div *ngIf="basic.controls.discount.errors.required">
                            <span>Please Enter The Discount</span>
                        </div>
                    </div> -->
                </div>
            </div>
          <div>
            <button mat-button class="btn btn-primary" [disabled]="!basic.valid" (click)="saveBasic()">Save</button>
            <button mat-button matStepperNext >Next</button>

          </div>
       </form>
    </mat-step>

    <mat-step [stepControl] = "description">
       <form [formGroup] = "description">
          <ng-template matStepLabel>Description</ng-template>
          <div class="row row-input">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Short Description</label>
                    <input class="form-control" formControlName = "shortDescription" required>
                </div>

                <!-- <div *ngIf="description.controls.shortDescription.invalid && (description.controls.shortDescription.dirty || description.controls.shortDescription.touched)" class="e-validate">
                    <div *ngIf="description.controls.shortDescription.errors.required">
                        <span>Please Add Short Description</span>
                    </div>
                </div> -->
            </div>
          </div>
          <div class="row row-input">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Product Description</label>
                    <!-- <input placeholder = "Long Description" formControlName = "longDescription" required> -->
                    <textarea rows="5" cols="60" class="form-control" formControlName="longDescription"></textarea>
                </div>
                <!-- <textarea type="text" id="form107" class="md-textarea form-control"  formControlName = "longDescription" rows="10" mdbInput></textarea> -->

                <!-- <textarea rows="3" cols="60" placeholder="Product Description" formControlName="description"></textarea> -->

                <!-- <div *ngIf="description.controls.longDescription.invalid && (description.controls.longDescription.dirty || description.controls.longDescription.touched)" class="e-validate">
                    <div *ngIf="description.controls.longDescription.errors.required">
                        <span>Please Add Long Description</span>
                    </div>
                </div> -->
            </div>
          </div>
          <div>
                <button mat-button class="btn btn-primary" (click)="saveDesc()">Save</button>
                <button mat-button matStepperNext>Next</button>
        </div>
       </form>
    </mat-step>
    <mat-step [stepControl] = "details">
        <form [formGroup] = "details" class="detailsForm"> 
           <ng-template matStepLabel>Details</ng-template>
           <!-- <div class="row">
                <mat-form-field class="col-md-12">
                    <input matInput placeholder = "Colors e.g Red, Green etc" formControlName = "details" required>
                </mat-form-field>
            </div> -->
            <div class="row row-input">
                <div class="col-md-6">
                    <label>Select Colors</label>
                    <div class="form-group">
                        <select class="form-control" formControlName="color" >
                            <option *ngFor="let item of colorArr" [value]="item.color">{{item.color}}</option>
                        </select>
                    </div>

                    <!-- <div *ngIf="details.controls.color.invalid && (details.controls.color.dirty || details.controls.color.touched)" class="e-validate">
                        <div *ngIf="details.controls.color.errors.required">
                            <span>Please Select Colors</span>
                        </div>
                    </div> -->
                </div>

                <div class="col-md-6">
                    <label>Select Size</label>
                    <div class="form-group">
                        <select formControlName="size" class="form-control">
                            <option *ngFor="let item of sizeArr" [value]="item.size">{{item.size}}</option>
                        </select>
                    </div>

                    <!-- <div *ngIf="details.controls.size.invalid && (details.controls.size.dirty || details.controls.size.touched)" class="e-validate">
                        <div *ngIf="details.controls.size.errors.required">
                            <span>Please Select Size</span>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row row-input">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Brand</label>
                        <input class="form-control" formControlName = "brand" required>   
                    </div>

                    <!-- <div *ngIf="details.controls.brand.invalid && (details.controls.brand.dirty || details.controls.brand.touched)" class="e-validate">
                        <div *ngIf="details.controls.brand.errors.required">
                            <span>Please Enter Brand</span>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Movement</label>
                        <input class="form-control" formControlName = "movement" required>
                    </div>

                    <!-- <div *ngIf="details.controls.movement.invalid && (details.controls.movement.dirty || details.controls.movement.touched)" class="e-validate">
                        <div *ngIf="details.controls.movement.errors.required">
                            <span>Please Enter Movement</span>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="row row-input">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Voltage</label>
                        <input class="form-control" formControlName = "voltage" required>
                    </div>

                    <!-- <div *ngIf="details.controls.voltage.invalid && (details.controls.voltage.dirty || details.controls.voltage.touched)" class="e-validate">
                        <div *ngIf="details.controls.voltage.errors.required">
                            <span>Please Enter Voltage</span>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Brightness</label>
                        <input class="form-control" formControlName = "brightness" required>
                    </div>

                    <!-- <div *ngIf="details.controls.brightness.invalid && (details.controls.brightness.dirty || details.controls.brightness.touched)" class="e-validate">
                        <div *ngIf="details.controls.brightness.errors.required">
                            <span>Please Enter Brightness</span>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row row-input">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Power</label>
                        <input class="form-control" formControlName = "power" required>
                    </div>

                    <!-- <div *ngIf="details.controls.power.invalid && (details.controls.power.dirty || details.controls.power.touched)" class="e-validate">
                        <div *ngIf="details.controls.power.errors.required">
                            <span>Please Enter Power</span>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Warranty</label>
                        <input class="form-control" formControlName = "warranty" required>
                    </div>
                    <!-- <div *ngIf="details.controls.warranty.invalid && (details.controls.warranty.dirty || details.controls.warranty.touched)" class="e-validate">
                        <div *ngIf="details.controls.warranty.errors.required">
                            <span>Please Enter Warranty</span>
                        </div>
                    </div> -->
                </div>
            </div>
            <div>
                <button mat-button  class="btn btn-primary" (click)="saveDetails()">Save</button>
                <button mat-button matStepperNext >Next</button>
            </div>
        </form>
     </mat-step>
     <mat-step [stepControl] = "imageForm">
        <ng-template matStepLabel>Images</ng-template>
        <form [formGroup] = "imageForm"> 
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-multiple-input">Multiple File input</label>
                <div class="col-md-9">
                    <input type="file" id="file-multiple-input" name="file-multiple-input"  formControlName="imgs" (change)="uploadImages($event)">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" *ngFor = "let src of images">
                     <button type="submit" class="btn" style=" border: none; font-size: 20px;" title="Delete Image"><i class="fa fa-times" (click)="deleteImg(src)" aria-hidden="true"></i>
                    </button>
                    <div class="card">
                        <div class="card-body w3-card-4">
                            <!-- <h4 class="card-title">Product Image</h4> -->
                            <img class="card-img-top" [src]="src.url" style="width: 100%; height: 150px;">
                            <!-- <a href="#" class="btn btn-primary">See Product Details</a> -->
                        </div>
                    </div>
                </div>
            </div>
           <div>
             <button mat-button matStepperPrevious>Back</button>
             <!-- <button mat-button matStepperNext class="btn btn-primary">Save</button> -->
           </div>
        </form>
     </mat-step>
 </mat-horizontal-stepper>

 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
