<div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Simple Sub Category Form
              </div>
              <div class="card-body">
                <form [formGroup]="subCategoryForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Sub Category Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Sub Category" formControlName="name">
                                </div>

                                <div *ngIf="subCategoryForm.controls.name.invalid && (subCategoryForm.controls.name.dirty || subCategoryForm.controls.name.touched)" class="e-validate">
                                    <div *ngIf="subCategoryForm.controls.name.errors.required">
                                        <span>Please Enter Sub-Category</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name">Category Name</label>
                                        <select class="col-md-12 form-control" formControlName="category">
                                            <option [value]="item.key" *ngFor="let item of categoryArr" placeholder="Sub Category Name" class="form-control">{{item.name}}</option>
                                        </select>
                                    </div>

                                    <div *ngIf="subCategoryForm.controls.category.invalid && (subCategoryForm.controls.category.dirty || subCategoryForm.controls.category.touched)" class="e-validate">
                                        <div *ngIf="subCategoryForm.controls.category.errors.required">
                                            <span>Please Select Category</span>
                                        </div>
                                    </div>
                                </div>
                        </div>  
                    <div style="text-align:center;">
                        <button class="btn btn-primary" [disabled] = "!subCategoryForm.valid" (click)="save()">Add</button>
                        <button class="btn" routerLink="/layout/category">Cancel</button>
                    </div>  
    
                </form>
              </div>  
            </div>  
        </div>
    </div>  
</div>        

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
