<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Simple Product Table
          </div>
          <div class="card-body">
            <form [formGroup]="sizeForm">
                    <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Size" formControlName="size">
                              </div>
                              <div *ngIf="sizeForm.controls.size.invalid && (sizeForm.controls.size.dirty || sizeForm.controls.size.touched)" class="e-validate">
                                  <div *ngIf="sizeForm.controls.size.errors.required">
                                      <span>Please Enter Size</span>
                                  </div>
                              </div>
                            </div>
                    </div> 
                  <div style="text-align:center;">
                    <button class="btn btn-primary" [disabled] ="!sizeForm.valid" (click)="save()">Add</button>
                    <button class="btn" routerLink="/layout/size">Cancel</button>
                  </div>  

            </form>
          </div>  
        </div>  
    </div>
  </div> 
</div>  

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
