// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.pagination {
    position: relative;
    left: 50%;
}

.e-validate {
    position: relative;
    bottom: 13px;
    color: red;
}

.btn, .btn.btn-primary {
    margin-top: 15px;
}

i:hover {
    cursor: pointer;
}

// .row-input {
//     margin-bottom: 15px;
// }